<h1>Remove Site Wide Item</h1>

<p>Are you sure you want to <strong class="warning">permanently remove</strong> the following site wide item?</p>

<table class="index" id="links" cellpadding="0" cellspacing="0" border="0">
  <tbody>
    <tr class="node level-1">
      <td class="link">
        <%= h @site_data_item.keyname %>
      </td>
    </tr>
  </tbody>
</table>

<% form_for [:admin, @site_data_item], :html => { :method => 'delete' } do %>
  <p class="buttons">
    <input class="button" type="submit" value="Delete Item"/>
    or
     <%= link_to "Cancel", admin_site_data_items_url %>
  </p>
<%- end -%>